

<div *ngIf="rol == 1">
<table>
  <tr *ngFor="let item of imageList">


    <td>
      {{item.category}}

    </td>
    <td>
      {{item.imageUrl}}

    </td>
    <td>

      <div *ngIf="item.user == user">        
        <Button>
          Eliminar
        </Button>
      </div>
      <div *ngIf="item.user != user">

        <Button  (click) ="deleteElement(item.id)" >
          Eliminar
        </Button>
      </div>
    </td>
  </tr>
</table>

</div>

<div *ngIf="rol == 2">
  <table>
    <tr *ngFor="let item of imageList">

      <td>
        {{item.category}}
      </td>
      <td>
        {{item.imageUrl}}
      </td>
      <td>
        <div *ngIf="item.user == user">
          <a routerLink="/image/edit/{{item.id}}" class="btn btn-primary btn-block float-right">Editar</a>
          <Button (click) ="deleteElement(item.id)" >
            Eliminar
          </Button>
        </div>

        <div *ngIf="item.user != user">
          <Button disabled>
            Editar
          </Button>
          <Button disabled>
            Eliminar
          </Button>
        </div>
      </td>
  
    </tr>
  
  
  </table>
  
  
  </div>
  
<!--

  <table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i!=0">
        <span class="imagebox-desc">{{imageList[3*i-1].caption}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i-1].category}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i-1].imageUrl}}</span>
        <span>{{imageList[3*i].user}} </span>
        <span>{{user}} </span>
        <div  *ngIf="user == imageList[3*i].user">
        
          <button>Editar</button>
         
        </div>
      </div>
    </td>
    <td *ngIf="imageList[3*i]">
      <div class="imagebox" >
        <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].category}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].imageUrl}}</span>
        <span>{{imageList[3*i].user }}</span>
        <span>{{user}} </span>
        <div  *ngIf="user == imageList[3*i].user">
        
          <button>Editar</button>
         
        </div>
      
      </div>
    </td>
    <td *ngIf="imageList[3*i+1]">
      <div class="imagebox">
        <span class="imagebox-desc">{{imageList[3*i+1].caption}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].category}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].imageUrl}}</span>
        <span>{{imageList[3*i].user}} </span>
        <span>{{user}} </span>
        <div  *ngIf="user == imageList[3*i].user">
        
          <button>Editar</button>
         
        </div>
      </div>
    </td>
  </tr>
</table>

-->